<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/styles.css">
    <title>React Universal Boilerplate</title>
  </head>
  <body>
    <div id="root"><%- markup %></div>
    <script async src="/assets/bundle.js"></script>
  </body>
</html>
